body {
  background-color: black;
  height: 100%;
  width: 100%;
}

.jumbotron {
  color: darkseagreen;
  background-color: seagreen;
}

.text_centered {
  text-align: center;
}

.text_white {
  color: white;
}

.text_ping {
  color: red;
}

.text_pong {
  color: yellow;
}

.text_pingpong {
  color: lightblue;
}

li {
  display: none;
}
